{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid text-info mt-3">
        <div class="row mx-auto p-1">
            <div class="col mt-4">
                <div class="center-me">
                    <img src="{{ url_for('static', filename='img/rogerthatblackwhite.jpg') }}" 
                    alt="man posing for picture" class="img-fluid remove-float" 
                style="max-width: 400px; max-height: 300px; float: left; margin-right: 20px;">
                </div>

                <h1 class="center-me">Biography<span>&#9749;</span></h1>
                <p class="fs-5 center-me">
                    Born and raised in New Jersey for the first 26 years of my life, 
                    I embarked on an extraordinary journey when I got married at the 
                    age of 26 and moved to Sweden. Surprisingly enough, I became an 
                    acrobat on roller skates and had the incredible opportunity to 
                    work for Cirque Du Soleil. Yes, you read that correctly—I am an 
                    acrobat on roller skates! Now, you might be wondering, how did 
                    I transition from being an acrobat to pursuing programming? 
                    Well, as fate would have it, the pandemic dealt a severe blow to 
                    the entertainment industry, leaving me with the realization that 
                    I needed a backup plan. Throughout my life, I've always been 
                    fascinated by computers and had a lingering interest in 
                    programming since my days on Myspace. I dabbled in HTML back then, 
                    which kept my passion for programming simmering in the back of my mind.
                    That's when I began researching various courses, and YouTube's 
                    algorithm led me to CodeInstitute. Their online program resonated 
                    with me the most, as it offered a comprehensive curriculum 
                    tailored to my needs.
                </p>
                <p class="fs-5 center-me">
                    Fast forward to today, I have successfully graduated and acquired 
                    a broad range of skills that you'll find detailed on my skills 
                    page and resume. Although I haven't had the opportunity to work 
                    professionally as a programmer due to my commitments as a busy acrobat, 
                    I have dedicated myself to honing my skills and staying engaged by 
                    working on challenging projects. By doing so, I aim to demonstrate 
                    to potential employers that I possess the necessary knowledge and 
                    expertise. I made a promise to myself that a year after completing 
                    this certification, I would begin applying for programming jobs. 
                    And now, I'm ready to embark on this exciting new chapter in my life. 
                    I am fully prepared to bring my passion, determination, and acquired 
                    skills to contribute to a dynamic team."
                </p>
            </div>
        </div>
    </div>
{% endblock %}