{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid text-info">
        <div class="row">
            <div class="col-sm-4 d-flex flex-column align-items-center">
                <h3 class="text-center">Languages</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-sm-4 d-flex flex-column align-items-center">
                <h3 class="text-center">Projects</h3>
                <p class="text-center">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="col-sm-4 d-flex flex-column align-items-center">
                <h3 class="text-center">Work</h3>
                <p class="text-center">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
{% endblock %}