*{
  margin: 0;
  padding: 0;
}

/*.........................................body styling */
body {
  position: relative;
  font-family: 'Open Sans', sans-serif;

  /* Fix white spacing at bottom of body */
  /* height: calc(100vh - 0px); */

  /* 
  The code above fixed the scroll issue
  so code below is not needed but keep for now incase
  */
  /* margin-right: 0 !important; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1; /* This z-index value makes sure the overlay element is behind the body content */
}

body::after {
  content: "";
  background-image: url("/static/img/computer-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

/* Contents */
/* 
    1. Fonts
    2. Images
    3. Indexing,
    4. Padding / Margin / Flexbox
    5. Styling
    6. Buttons
*/

/* 1. Fonts */
.code-text {
  font-family: "OCR A Std Regular";
}



/* 2. Images  */
#roger-img {
  border-radius: 50%;
  border-style: solid !important;
  border-color:#0dcaf0 !important;
  border-width: 5px !important;
}

/* 3. Index - index <div> over, overlay color */
.index-z-1 {
  position: relative;
  z-index: 1;
}

/* 4. Padding - push div down, no collusion with navbar */
.index-pad-top {
  margin-top: 70px;
}

/* Section-form padding left + right */
.form-padding {
  padding-left: 100px !important;
  padding-right: 100px !important;
}

.my-form-button {
  display: block !important;
  margin: 0px auto !important;
}

/* 5. Styling */
.transparent-input {
  background-color: transparent !important;
}

.bg-darkblue-hover:hover {
  color: #096b7e;
}

/* 6. Buttons */
#button1:hover {
  background-color: #096b7e

}

/* Media queries */
@media screen and (max-width: 768px) {
  #roger-img {
    max-width:50%;
    max-height: 90%;
    overflow: hidden;
  }
  #my-intro-text {
    align-items: none !important;
    display: block !important;
    text-align: center;
    margin-top: -30px;
  }
  .index-pad-top {
    margin-top: 30px;
  }
  .rs-margin {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
  }
  .small-form-width {
    width: 50% !important;
  }
}

@media screen and (max-width: 991px) {
  #roger-img {
    max-width: 33%;
    max-height: 90%;
    overflow: hidden;
  }
  #my-intro-text {
    align-items: none !important;
    display: block !important;
    text-align: center;
    margin-top: -30px;
  }
  .index-pad-top {
    margin-top: 50px;
  }
  .rs-margin {
    margin-top: 30px !important;
    margin-bottom: 20px !important;
  }
}