{% extends 'base.html' %}

{% block content %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <img src="{{ url_for('static', filename='img/linkedin-roger2.jpg') }}" id="roger-img" class="img-fluid index-me-up border border-light" alt="Roger">
            </div>
            <div id="my-intro-text" class="col-lg-8 col-md-8 d-flex align-items-center">
                <div class="col">
                    <div class="row text-white index-me-up">
                        <h1 class="code-text">Royer Segura</h1>
                        <h3>I'm a full-stack developer based in Sweden</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
